<div class="box">
  <div class="box-header with-border">
    <a href="" class="btn btn-success btn-sm" title="创建">
      <span class="glyphicon glyphicon-plus"></span>创建
    </a>
    <div class="box-tools">
      <div class="input-group input-group-sm" style="width: 150px; margin-top: 5px;">
        <input type="text" name="table_search" class="form-control pull-right" placeholder="股票名称">
        <div class="input-group-btn">
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered">
      <tr>
        <th style="width: 10px">#</th>
        <th>股票名称</th>
        <th>股票价格</th>
        <th>股票星级</th>
        <th>操作</th>
      </tr>
      <tr *ngFor="let i = index; let stock of stocks;">
        <td>{{i + 1}}</td> <!-- 数据绑定通过"{{}}"实现，双大括号之间填写绑定的值 -->
        <td>{{stock.name}}</td>
        <td>{{stock.price}}</td>
        <td><app-stars [rating]="stock.rating"></app-stars></td>  <!--通过[rating]绑定子组件的 stock 的属性 rating 的值-->
        <td>
          <a href="#" title="修改" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-pencil"></span>修改</a>
          <a href="#" title="删除" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>删除</a>
        </td>
      </tr>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>
</div>
<!-- /.box -->
